/*
#client {
  width: 100%;
  min-height: 300px;

  overflow: auto;
  padding: 2%;
  border: 1px solid #000;
  position: relative;
}
#client .pollAnswerContainer {
  bottom: 26px;
  width: 100%;
  overflow: auto;
}
#client .pollAnswerContainer .voteBar {
  height: 100%;
  line-height: 42px;
  text-align: center;
}
#client .pollAnswerContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#client .pollAnswerContainer ul li {
  padding: 12px 0px;
  margin: 16px 0px;
  height: 64px;
}
#client .pollAnswerContainer ul li .voteBar {
  height: 100%;
  line-height: 42px;
  text-align: center;
  background-color: #000;
}

*/

.pollAnswerContainer button {
	background-color: red;
}

.voteBar {
  background-color: red;
}