/*
#client {
  width: 100%;
  min-height: 300px;

  overflow: auto;
  padding: 2%;
  border: 1px solid #000;
  position: relative;
}
#client .pollAnswerContainer {
  bottom: 26px;
  width: 100%;
  overflow: auto;
}
#client .pollAnswerContainer .voteBar {
  height: 100%;
  line-height: 42px;
  text-align: center;
}
#client .pollAnswerContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#client .pollAnswerContainer ul li {
  padding: 12px 0px;
  margin: 16px 0px;
  height: 64px;
}
#client .pollAnswerContainer ul li .voteBar {
  height: 100%;
  line-height: 42px;
  text-align: center;
  background-color: #000;
}

*/

.pollContainer {
	margin: 0 auto;
	border: 1px solid #CCC;
	width: 100%;
	max-width: 960px;
	height: auto;
	overflow: auto;
	padding: 16px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pollContainer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto;
}

.pollContainer ul li {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.pollContainer ul li:not(:first-child) {
	margin-top: 32px;
}

.pollAnswerContainer button {
	background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

.voteBar {
  background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  float: left;
  height: 64px;
  line-height: 64px;
  text-align: center;

}